@model ProductFormEditDatabaseModel
@{ 
    Layout = "_DefaultLayout";
    ViewData["title"] = "Data management";
}

<h1>ADD PRODUCT</h1>
<div class="container border">
    <form enctype="multipart/form-data" asp-controller="EditDatabase" asp-action="Product" method="POST">
        <div class="form-group">
            <label asp-for="Name">name</label>
            <input class="form-control" asp-for="Name" type="text">
        </div>

        <div class="form-group">
            <label asp-for="Description">description</label>
            <input class="form-control" asp-for="Description" type="text">
        </div>

        <div class="form-group">
            <label asp-for="Price">price</label>
            <input class="form-control" asp-for="Price" type="text">
        </div>

        <div class="form-group">
            <label asp-for="Stock">stock</label>
            <input class="form-control" asp-for="Stock" type="number">
        </div>

        <div class="form-group">
            <label asp-for="SubCategoryName">SubCategory ID</label>
            <input class="form-control" asp-for="SubCategoryName" type="text">
        </div>

        <div class="form-group">
            <label asp-for="imageFiles">Product Images</label>
            <input class="form-control" asp-for="imageFiles" type="file" onchange="readURL(this);" multiple />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div id="images-container" class="row">

    </div>
</div>

<script>
    function readURL(input) {
        const images_container = document.getElementById('images-container');
        images_container.innerHTML = ""

        if (input.files) {
            for (let fi of input.files) {


                var fileReader = new FileReader();
                fileReader.onload = function (e) {
                    // $('#blah')
                    //     .attr('src', e.target.result);

                    const img = document.createElement("img");
                    img.setAttribute("src", e.target.result)
                    img.setAttribute("class", "img-thumbnail col-3")

                    images_container.appendChild(img);
                };

                // input.files.forEach (fi => {

                // })
                fileReader.readAsDataURL(fi);
            }

        }
    }
</script>